name: ci

on:
  push:
    branches: [ main ]
    paths:
      - 'Dockerfile'
      - '!Dockerfile.*'
    
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Prepare
        id: prep
        run: |
          echo ::set-output name=datetag::$(date -u +'%Y%m%d')
          echo ::set-output name=created::$(date -u +'%Y-%m-%dT%H:%M:%SZ')
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push minimal-dotnet
        id: docker_build_minimal
        uses: docker/build-push-action@v2
        with:
          push: true
          build-args: base_image=jupyter/minimal-notebook
          tags: pocki/minimal-dotnet:latest, pocki/minimal-dotnet:${{ steps.prep.outputs.datetag }}
          labels: |
            org.opencontainers.image.source=${{ github.event.repository.html_url }}
            org.opencontainers.image.created=${{ steps.prep.outputs.created }}
            org.opencontainers.image.revision=${{ github.sha }}
      -
        name: Image digest minimal-dotnet
        run: echo ${{ steps.docker_build_minimal.outputs.digest }}
      -
        name: Build and push scipy-dotnet
        id: docker_build_scipy
        uses: docker/build-push-action@v2
        with:
          push: true
          build-args: base_image=jupyter/scipy-notebook
          tags: pocki/scipy-dotnet:latest, pocki/scipy-dotnet:${{ steps.prep.outputs.datetag }}
          labels: |
            org.opencontainers.image.source=${{ github.event.repository.html_url }}
            org.opencontainers.image.created=${{ steps.prep.outputs.created }}
            org.opencontainers.image.revision=${{ github.sha }}
      -
        name: Image digest scipy-dotnet
        run: echo ${{ steps.docker_build_scipy.outputs.digest }}
      -
        name: Build and push r-dotnet
        id: docker_build_r
        uses: docker/build-push-action@v2
        with:
          push: true
          build-args: base_image=jupyter/r-notebook
          tags: pocki/r-dotnet:latest, pocki/r-dotnet:${{ steps.prep.outputs.datetag }}
          labels: |
            org.opencontainers.image.source=${{ github.event.repository.html_url }}
            org.opencontainers.image.created=${{ steps.prep.outputs.created }}
            org.opencontainers.image.revision=${{ github.sha }}
      -
        name: Image digest r-dotnet
        run: echo ${{ steps.docker_build_r.outputs.digest }}
